*
{
  font-size:20px;
  font-family: Sans-Serif, Times New Roman, Comic Sans MS;
  }
.head
{
  color: white;
  margin: 10℅;
  border-style: dashed;
  border-color: green;
  border-width: 10px 50px;
  background-color: brown;
  padding: 10px;
  font-size: 35px;
  
}
.introh
{
  border-style:double;
  border: 50px 40px ;
  background-color: black;
  border-color: red;
  color: white;
}
img
{
  margin-top: 10px;
  margin-left: 34%;
  border: dashed;

  border-color: red;
  border-radius: 30px ;
  height: 250px;
  width: 250px;
  padding: 2%;
 }
.introh h1
{
  text-decoration: underline;
  font-size: 28px;
  
}
.para1
  { 
    border-style: dashed;
    background-color:red ;
    }
    .menu h1{
      font-size: 28px;
    }
 table
 {
   text-align: center;
   background-color: green;
   color: white;
   }
 .menu h1
 {
   text-decoration: underline;
 }
li,.contact,.webn
{
font-style: italic;
}
.signupp
{
  word-spacing: 5px;
  color: red;
}
.videop
{
  color:black ;
  font-size: 50px;
}
spam{
  font-size: 50px;
  color:blue ;
}
video
{
  align-content: center;
}
#contact
{
  margin:20px;
  border-style: double;
  text-align: center;
  background-color: yellow;
}

#webn
{
  margin: 20px;
  text-align: center;
  border-style: double;
  background-color: blue;
  color: white;
}
.singupimg
{
  border: dashed;
  border-color: black;
  
}
.akrespic{
  animation: akpic;
  animation-duration: 6s;
}
@keyframes akpic{
  0%{
    opacity: 0% ;
    transition: translateX(50%);
  }
}
.endbox
{
  display: flex;
  width: 40%;
  
 
}